body {
    font-family: 'Poppins', sans-serif;
    background-color: blanchedalmond;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    background-color: aliceblue;
    border-radius: 8%;
    box-shadow: 0px 10px 13px 10px rgba( 0, 0, 0, 0.4);
    overflow: hidden;
    width: 820px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#list-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

.blankDiv{
    background-color: azure;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8%;
    height: 200px;
    width: 200px;
    margin: 10px;
}

#AddNoteDiv {
    background-color: ghostwhite;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AddNoteDiv:hover {
    transition: 0.25s;
    background-color: #f1f1f1;
}

#AddNoteDiv i {
    font-size: 50px;
    color: gainsboro;
}

#list-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    background-color: floralwhite;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 9px 9px 18px #b3b3b3,
    -9px -9px 18px #ffffff;
}

